.product {
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-right: 5px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.product-name {
    color: midnightblue;
    padding-left: 5px;
}
.product-button {
    background-color: #fcca4d;
    padding: 15px 60px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}